<% form_for(submission, :url => { :action => 'delete'}) do |f| %>
	<div id='submission_<%=submission.id %>'>
		<%= f.hidden_field :id %>
		<%= f.submit 'x', :class => 'deleter' %>
		<em><%= submission.submission %></em>
		<strong><%= time_ago_in_words(submission.created_at) %> ago by <%= submission.name %> </strong>
	</div>
<% end %>